
* {
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
}

:root {
    --primary-color: cornsilk;
    --font-main: "Helvetica Neue", sans-serif;
    --spacing: 16px;
}

body {
    background-color: var(--primary-color);
    font-family: var(--font-main);
    line-height: 1.5;
}

header {
    background-image: url("/images/naeveklubbens-turistguide-banner.webp");
    background-size: cover;
    background-position: center;
    font-family: var(--font-main);
    color: white;
    font-size: 25px;
    text-align: left;
    text-shadow: 3px 3px 5px black;
    padding: 80px 20px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: crimson;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #111111;
}