<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Attraktioner</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="icon" type="image/x-icon" th:href="@{/images/naeve.png}">
</head>

<body>

<header>
  <h1>Næveklubbens turistguide</h1>
</header>

<nav class="nav-bar">
  <ul>
    <li><a href="/index.html">Forside</a></li>
    <li><a href="/attractions">Attraktioner</a></li>
    <li><a href="/recommendations.html">Anbefalinger</a></li>
    <li><a href="/about.html">Om Næveklubben</a></li>
    <li><a href="/contact.html">Kontakt Næveklubben</a></li>
  </ul>
</nav>

<main>
  <h2>Turistattraktioner</h2>
  <table>
    <thead>
    <tr>
      <th>Navn</th>
      <th>Beskrivelse</th>
      <th>By</th>
      <th>Tags</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="attraction : ${attractions}">
      <td th:text="${attraction.name}"></td>
      <td th:text="${attraction.description}"></td>
      <td th:text="${attraction.city.getDescription}"></td>
      <td th:text="${attraction.tag.getDescription}"></td>
    </tr>
    </tbody>
  </table>

  <button>Tilføj Attraktion</button>

</main>

<footer>
  <p>&copy; 2026 Næveklubben</p>
</footer>

</body>
</html>