<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Attraktioner</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="icon" type="image/x-icon" th:href="@{/images/naeve.png}">
</head>

<body>

<header>
  <h1>Næveklubbens turistguide</h1>
</header>

<div th:replace="~{fragments :: navbar}"></div>

<main>
  <h2>Turistattraktioner</h2>
  <table >
    <thead>
    <tr>
      <th>Navn</th>
      <th>Beskrivelse</th>
      <th>By</th>
      <th>Tags</th>
      <th>Redigér</th>
      <th>Slet</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="attraction : ${attractions}">
      <td th:text="${attraction.name}"></td>
      <td th:text="${attraction.description}"></td>
      <td th:text="${attraction.city.description}"></td>
      <td>
        <form th:action="@{/attractions/{name}/tags(name=${attraction.name})}" method="get">
          <button type="submit">Tags</button>
        </form>
      </td>
      <td>
        <form th:action="@{/attractions/{name}/edit(name=${attraction.name})}" method="get">
          <button type="submit">Redigér</button>
        </form>
      </td>
      <td>
        <form th:action="@{/attractions/{name}/delete(name=${attraction.name})}" method="get">
          <button type="submit">Slet</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>

  <a class="btn" th:href="@{/attractions/add}">Tilføj Attraktion</a>

</main>

<footer>
  <p>&copy; 2026 Næveklubben</p>
</footer>

</body>
</html>