<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Tags</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="icon" type="image/x-icon" th:href="@{/images/naeve.png}">
</head>

<body>

<header>
  <h1>Næveklubbens turistguide</h1>
</header>

<div th:replace="~{fragments :: navbar}"></div>

<main>
  <h2>Tags for <span th:text="${attractionName}"></span></h2>
  <table>
    <thead>
    <tr>
      <th>Tags</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="tag : ${tags}">
      <td th:text="${tag.description}"></td>
    </tr>
    </tbody>

  </table>

  <a class="btn" th:href="@{/attractions}">Gå tilbage</a>


</main>

<footer>
  <p>&copy; 2026 Næveklubben</p>
</footer>

</body>
</html>