<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Tags</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="icon" type="image/x-icon" th:href="@{/images/naeve.png}">
</head>

<body>

<header>
  <h1>Tags</h1>
</header>

<nav class="nav-bar">
  <ul>
    <li><a href="/index.html">Forside</a></li>
    <li><a href="/attractions">Attraktioner</a></li>
    <li><a href="/recommendations.html">Anbefalinger</a></li>
    <li><a href="/about.html">Om Næveklubben</a></li>
    <li><a href="/contact.html">Kontakt Næveklubben</a></li>
  </ul>
</nav>

<main>
  <h2>Tags for <span th:text="${attractionName}"></span></h2>
  <table>
    <thead>
    <tr>
      <th>Tags</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="tag : ${tags}">
      <td th:text="${tag.description}"></td>
    </tr>
    </tbody>
  </table>



</main>

<footer>
  <p>&copy; 2026 Næveklubben</p>
</footer>

</body>
</html>