<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Opdater attraktion</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/images/naeve.png}">
</head>

<body>

<header>
    <h1>Næveklubbens turistguide</h1>
</header>

<div th:replace="~{fragments :: navbar}"></div>

<main>

    <h2>Opdater attraktion</h2>

    <form class="attraction-form"
          method="post"
          th:action="@{/attractions/{name}/edit(name=${attraction.name})}"
          th:object="${attraction}">

        <label>Attraktion</label>
        <p th:text="*{name}"></p>

        <label for="description">Beskrivelse</label>
        <textarea th:field="*{description}"
                  id="description"
                  cols="25"
                  rows="5">
    </textarea>

        <label for="city">Vælg by</label>
        <select th:field="*{city}" id="city" required>
            <option th:each="city : ${cities}"
                    th:value="${city}"
                    th:text="${city.getDescription}">
            </option>
        </select>

        <label>Vælg tags</label>

        <div class="tag-options" th:each="tag : ${tags}">
            <input type="checkbox"
                   th:field="*{tags}"
                   th:value="${tag}"
                   th:id="${'tag-' + tag}">

            <label th:for="${'tag-' + tag}"
                   th:text="${tag.getDescription}">
            </label>
        </div>

        <button type="submit">Opdatér</button>
        <a class="btn" th:href="@{/attractions}">Gå tilbage</a>

    </form>

</main>

<footer>
    <p>&copy; 2026 Næveklubben</p>
</footer>

</body>
</html>